<div class="container">
  <h1>Users List</h1>
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }} ({{ user.role }})
      <button (click)="deleteUser(user.id)">Delete</button>
      <button (click)="updateUser(user)">Update</button>
    </li>
  </ul>
  <form (ngSubmit)="createUser()">
    <label>Username:</label>
    <input type="text" [(ngModel)]="newUser.username">
    <br>
    <label>Role:</label>
    <input type="text" [(ngModel)]="newUser.role">
    <br>
    <button type="submit">Create User</button>
  </form>
</div>
